*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Monomaniac One', sans-serif;

}

.navbar {
    background: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300 px;
    margin: 0 auto; 
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #be3455 0%, #f7ab98 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem{
    margin-right: 0.5rem;

}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links { 
    color: #c57e7e;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 0.5rem;
    height: 100%;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding 0 1rem;
    width: 100%;
}


.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .navbar__container{
        display: flex; 
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300 px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%; 
        position: absolute; 
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #ebe1e1;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #977878;

    }

    .navbar__item {
        width:100%;
    }

    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute; 
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);

    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

.main {
    background-color: #efe4e4;
}

.about {
    background-color: #efe4e4
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #e6dbdb;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    
}

.summary__container {
    display: grid;
    align-items: left;
    justify-self: left;
    margin: 0 auto;
    height: 90 vh;
    background-color: #e6dbdb;
    z-index: 1;
    width: 100%;
    max-width: 1300px; 
    padding: 0 50 px;
}

.main__content h1{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to right, #be3455, #f798a9, #ffdab2);
    background-size: 300%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    background-position: -100%;

    animation: animatedText 3s infinite alternate-reverse;

}

@keyframes animatedText{
    from{
        background-position: 0%;
    }
    to{
        background-position: 100%;
    }
}

.main__content h2{
    font-size: 1rem;
    font-weight: 700;
    color: #977878;
}
@media screen and (max-width: 768px){
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 2.5rem;
        margin-top: 2rem;

    }

    
} 

.summary__content p {
    font-family: "Verdana", sans-serif;
    margin-left: 20px;
    font-size: 12px;
}


.coursework__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.coursework__box {
    background-color: #f2f2f2;
    padding: 20px;
}

.coursework__content h3 {
    margin-top: 0;
}

.coursework__list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Verdana", sans-serif;
    font-size: 12px;
}

.coursework__list li {
    margin-bottom: 5px;
    font-weight: normal;
    font-family: "Verdana", sans-serif;
}





@media screen and (max-width: 480px) {

    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;

    }

    .coursework__grid {
        grid-template-columns: 1fr;
    }
}